.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* custom styling of mui components */
.nav-bar {
  width:auto;
  height: 50px;
  background-color: black;
}

.MuiContainer-root {
  padding: 24px;
}

.content-container {
  display: flex;
  justify-content: space-between; /* This will put maximum space between the children */
  padding: 16px;
}

/* Optional: Add margins to the form and the div for additional spacing control */
.content-container > form,
.content-container > .dummy {
  max-width: 360px;
}


.dummy {
  width: 30vh;
  background-color: aquamarine;
  border: 2px solid black;
}